.compose-btn {
    margin-left: 5px;
    border: 0;
    height: 50px;
    width: 130px;
    background-color: #c2e7ff;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 #0000, 0 1px 3px 1px #0000;
    margin-bottom: 20px;
    transition: 0.2s;

}

.compose-btn:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);

}

.folder-options {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.inbox {
    flex-grow: 1;
}

.folder-options>* {
    display: flex;
    border-radius: 0 20px 20px 0;
    padding-inline: 20px;
    padding-block: 6px;
}

.folder-options .fa-solid {
    width: 2em;
}


.folder-options>*:hover {
    background-color: rgba(128, 128, 128, 0.192);
    cursor: pointer;

}

.amount {
    font-size: 0.75em;

}

.selected {
    font-weight: bold;
    background-color: rgba(33, 177, 221, 0.404);
}

.compact-mail-folder-list-container .compose-btn {
    width: 3.2em;

}

.compact-mail-folder-list-container {
    display: none;

}

.compact-options>* {
    display: flex;
    width: 3em;
    height: 3em;
    border-radius: 20px;
    align-items: center;
    justify-content: center;

}

.compact-options>*:hover {
    background-color: rgba(128, 128, 128, 0.192);
    cursor: pointer;

}