.mail-filter  input{
    border-radius: 50px;
    height: 2em;
    background-color: #a8c7fa3a;
    width: 80%; 
    max-width: 500px; 
    border: 0;
    padding: 1em;
    font-size: 1.2em;
    outline: none;

}

.mail-filter  input:focus{
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.603);

}

.sort-actions{
    margin-top: 1em;
    display: flex;
   justify-content: space-around;
   width: 300px;
}

.sort-actions > *{
border: 0;
border-radius: 20px;
font-size: 0.9em;
height: 1.5em;
width: 6em;
}