.mail-specifics{
    display: flex;
    justify-content: space-between;

}

.mail-details-container header{
    font-size: 1.5em;
    margin-block: 1em;
    background-color: white;
}

.mail-contacts{
    font-size: 0.75em;
    color: #5f6368;
}



.mail-actions{
    display: flex;
    font-size: 0.75em;
    gap: 10px;
    margin-right :0.5em;
    color: #5f6368;
    align-items: center;

}

.mail-content{
    margin-top: 3em;
    font-size: 1.5em;

    width: 40vw;
}

.mail-actions button{
height: max-content;

}