.mail-edit-container {
    position: fixed;
    bottom: 1%;
    left: 40%;
    height: 500px;
    width: 500px;
    z-index: 1000;
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: -3px -7px 8px 0px rgb(0 0 0 / 0%), 0px -3px 14px 4px rgb(0 0 0 / 22%);
}

.mail-edit-container h1 {
    padding: 10px;

}

.mail-to>* {
    outline: none;
    border: 0;

}

.mail-to {
    flex-direction: row;
    column-gap: 50px;
    padding: 10px;
    box-shadow: 0 0 0px 0px rgb(0 0 0 / 0%), 0px 1px 0px 0px rgb(0 0 0 / 22%);

}

.mail-to input {
    outline: none;
    border: 0;
    width: max-content;
    font-size: 1.1em;
    margin-left: 2px;


}

.mail-edit-subject {
    row-gap: 10px;
    outline: none;
    border: 0;
    margin-block: 10px;
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 0px 0px rgb(0 0 0 / 0%), 0px 1px 0px 0px rgb(0 0 0 / 22%);
}

.mail-edit-details>* {
    row-gap: 10px;
    outline: none;
    border: 0;
    width: 100%;
    font-size: 1.05em;
    box-shadow: 0 0 0px 0px rgb(0 0 0 / 0%), 0px 1px 0px 0px rgb(0 0 0 / 22%);
}

.mail-edit-details {
    outline: none;
    border: 0;
    width: 100%;
}

.mail-edit-body {
    display: flex;
    flex-grow: 1;
    resize: none;
    border: 0;
    margin-top: 9px;
    padding: 10px;
    outline: none;
    font-family: "Your Font", sans-serif;
font-size: 1.2em;
    height: 300px;
    width: 100%;


}

.mail-edit-header {
    display: flex;
    box-shadow: 0 0 0px 0px rgb(0 0 0 / 0%), 0px 1px 0px 0px rgb(0 0 0 / 22%);
}

.mail-edit-header h1 {
    flex-grow: 1;
}

.send-btn {
    width: 7em;
    height: 3em;
    margin: 0 0 10px 10px;
    border-radius: 20px;
    border: 0;
    background-color: #0B57D0;
    color: white;

}

.send-btn:hover {
    box-shadow: -1px 4px 2px 0 rgba(60, 64, 67, 0.302), -1px 1px 2px 5px rgba(60, 64, 67, 0.149);

}

.close-btn {
    margin-top: 5px;
    margin-right: 5px;

    width: 5em;
    height: 2em;

    border-radius: 20px;
    border: 0;
    background-color: #0B57D0;
    color: white;

}