* {
    box-sizing: border-box;
}

.mail-preview {
    display: flex;
    padding-block: 0.625em;
    box-shadow: 0px 2px 0 0 rgb(0 0 0 / 12%);
    padding-right: 5px;
    align-items: center;
    /* background-color: rgba(127, 255, 212, 0.123); */
    overflow: hidden;
    height: 2.2em;
    width: 100%;


}


.mail-from,
.mail-subject,
.mail-body {
    font-size: 0.875em;
    padding-block: 0.625em;

}

.mail-subject {
    padding-right: 0.2em;
    margin-left: 2em;
}

.mail-sent-at {
    font-size: 0.75em;
    opacity: 1;
    width: 8em;
    text-align: right;
    padding-right: 1em;
}

.mail-from {
  width: 15em;
    margin-inline: 1.3em;
}



.mail-body {


    width: 2px;
    flex-grow: 1;
    text-wrap: nowrap;
    overflow: hidden;
    color: #5f6368;
    text-overflow: ellipsis;
}

.actions {
    position: absolute;
    opacity: 0;
    right: 0;
    z-index: 5;
    padding-right: 1em;
}

.actions>* {
    margin-inline: 5px;
   
}

.mail-preview:hover .actions {
    opacity: 1;
    right: 0;
}

.mail-preview:hover .mail-sent-at {
    color: transparent;
    right: 0;
    z-index: 5;
}


.unread{
    font-weight: bold;
}

.yellow-star{
    color: #FFD500;

}

