
/* Mail Layout-------------------------------- */
.mail-index-container{
    display: grid;
    grid-template-columns: 250px 2fr;
    
}

.mail-filter{
    grid-column: 2;
}

.mail-folder-list-container{
    grid-column: 1;
    grid-row: 1;

}

.mail-list-container{
    grid-column: 2;

}

.mail-details-container{
    grid-column: 2;

}

/* -------------------------------- */


/* Notes Layout-------------------------------- */

.index-container{
    display: flex;
}