 /* note index */

 .note-index-container {
    display: flex;
    gap: 20px;
    font-family: Roboto, Arial, sans-serif;
    justify-content: center;
    flex-wrap: wrap;


 }




 .note {
    display: grid;
    grid-template-rows: 2fr 1fr;
    margin-top: 10%;
    font-family: Roboto, Arial, sans-serif;
    color: #202124;
    letter-spacing: .01428571em;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1rem;
    padding: 12px 16px 12px 16px;
    border-radius: 15px;
    width: 25vw;
    min-height: 15vh;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);

 }

 .note p {
    grid-column: 1 / 4;

 }

 .remove-btn,
 .color-btn {
    opacity: 1;
    background-color: none;
    border: none;
    background: none;
 }

 .note-icons-container {
    opacity: 0;
    grid-row: -1;
    font-size: 1em;
    color: black;
    transition: 0.3s;
 }

 .remove-icon {
    color: #000000;
    padding: 0.4em;
    margin-right: 1em;
 }

 .color-icon {
    color: #000000;
    padding: 0.4em;
    margin-right: 1em;
 }

 .remove-icon:hover {

    background-color: lightgray;
    border-radius: 50%;
 }

 .color-icon:hover {

    background-color: lightgray;
    border-radius: 50%;
 }

 .note:hover .note-icons-container {
    opacity: 1;
 }

 .inputs-container {
    display: flex;
 }

 .note-text-container {
    margin-top: 1.6em;
 }

 .new-note-container {
    min-width: 500px;
    font-size: 1em;
    border: none;
    font-weight: 500;
    min-height: 4em;
    border-radius: 8px;

    box-shadow: 0px -1px 2px 0 rgba(60, 64, 67, 0.302), 0px 4px 6px 2px rgba(60, 64, 67, 0.149);
 }

 .input-add-new-note {
    display: block;
    margin: 0 auto;
    letter-spacing: 0.005em;
 }

 .save-new-note-btn {
    display: block;
    padding: 10px 25px;
    border: none;
    background-color: #fff;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    border-radius: 15px;
    margin: 5px auto;
 }

 .save-new-note-btn:hover {
    background-color: lightblue;
 }

 .cancel-new-note-btn {
    display: block;
    padding: 7px 15px;
    border: none;
    background-color: #d3caca;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    border-radius: 15px;
    margin: 5px auto;
 }

 .cancel-new-note-btn:hover {
    background-color: lightcoral;
 }