.user-msg {
    display: flex;
    background-color: #272727;
    position: fixed;
    width: max-content;
    padding: 5px;

    height: 2em;
    bottom: 1em;
    right: 1em;
    color: rgb(255, 255, 255);
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    
    z-index: 1000;
}

.user-msg p {
    margin-inline: 1em;
}



.user-msg button {
    height: max-content;

    border-radius: 7px;
    background-color: white;
}